<?xml version="1.0"?>
<config>
    <modules>
        <Clean_Mailchimp>
            <version>1.0.0</version>
        </Clean_Mailchimp>
    </modules>
    <global>
        <models>
            <cleanchimp>
                <class>Clean_Mailchimp_Model</class>
            </cleanchimp>
        </models>

        <resources>
            <cleanchimp_setup>
                <setup>
                    <module>Clean_Mailchimp</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cleanchimp_setup>
            <cleanchimp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cleanchimp_write>
            <cleanchimp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cleanchimp_read>
        </resources>

        <helpers>
            <cleanchimp>
                <class>Clean_Mailchimp_Helper</class>
            </cleanchimp>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <cleanchimp_process_orders>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cleanchimp/cron::processOrders</model>
                </run>
            </cleanchimp_process_orders>
        </jobs>
    </crontab>

    <default>
        <newsletter>
            <cleanchimp>
                <batch_size>100</batch_size>
            </cleanchimp>
        </newsletter>
    </default>
</config>