<?xml version="1.0"?>
<config>
    <sections>
        <newsletter>
            <groups>
                <cleanchimp translate="label">
                    <label>Mailchimp Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>100</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <api_key translate="label">
                            <label>API Key</label>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <enabled translate="label">
                            <label>Enable Ecommerce 360</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </cleanchimp>
            </groups>
        </newsletter>
    </sections>
</config>